﻿*{
	margin: 0;
	padding: 0;
}

body{
	background: url('../img/bg08.jpg') center top;
	font-family: 'Trebuchet MS';	
}

a{
	border: none;
	text-decoration: none;
}

table{
	border: none;
	border-collapse: collapse;
	padding: 0px;
}

table td{
	position: relative;
}

img{
	border: none;
}

h1,h2,h3,h4,h5,h6{
	margin: 0px;
	padding: 0px;
	position: relative;
}

.testBorder{
	border: solid 1px #000 !important;
}

.floatLeft{
	float: left;
}

.floatRight{
	float: right;
}

.floatNone{
	float: none;
}

.clearBoth{
	clear: both;
}

.toCenter{
	margin: auto;
}

.textAleft{
	text-align: left;
}

.textAright{
	text-align: right;
}

.textAcenter{
	text-align: center;
}

.vTop{
	vertical-align: top;
}

.vMiddle{
	vertical-align: middle;
}

.vBottom{
	vertical-align: bottom;
}

.absoluteTop{
	position: absolute;
	top:0px;
}

.absoluteBottom{
	position: absolute;
	bottom: 0px;
}

.displayNone{
	display: none;
}

.displayBlock{
	display: block;
}

.displayInlineBlock{
	display: inline-block;
}

.cursorPointer{
	cursor: pointer !important;
}

.defaultCursor{
	cursor: default !important;
}

.cursorText{
	cursor: text !important;
}

/*********** MAIN STRUCUTRES ***************/
#wrapper{
	position: relative;
	margin: auto;
	width: 1000px;		
	background: url('../img/bgContent.png') left top;
	overflow: hidden;			
}

/*********** HEADER STRUCTURES ***************/
#header{	
	position: relative;
	z-index: 100;
	overflow: hidden;	
}

#header h1{
	margin: 60px 0px 0px 400px;
	color: #333;
	font-size: 28px;
}
.logo{
	float: left;
	width: 980px;
	height: 102px;
	background: url('../img/logo.png') left top no-repeat;
	margin: 10px 0 0 10px;
}

/*************** MENU STRUCTURES *****************/
#menuContainer{
	width: 850px;
	height:25px;
	position: relative;
	top: 10px;
	overflow: hidden;	
}

ul.mainMenu, ul.mainMenu ul{
	list-style-type: none;	
	margin: 0 0 0 20px;
	font-weight: bold;		
}

ul.mainMenu li{
	/*float: left;*/
	display: block;
	/*margin: 0 5px 0 0;*/
	padding: 5px 0 5px 0;
	position: relative;
	border-bottom: solid 2px #342661;
	width: 200px;
	text-align: left;	
}

ul.mainMenu li:hover{
	border-bottom: solid 2px #666;
}

ul.mainMenu a{
	font-size: 14px;
	color: #000;
	text-decoration: none;
	font-family: 'Trebuchet MS';	
}

ul.mainMenu a:hover{
	color: #666;	
}

/*ul.mainMenu li ul{
	position: absolute !important;
	z-index: 700;		
	left: -10px !important;	
}
*/
ul.mainMenu li ul li{
	padding: 10px 0 0 0;
	display: block !important;
	float: none !important;
	width: 100px !important;
	text-align: left;
	border-bottom: none;
	/*padding: 5px 5px 5px 5px;*/			
}

ul.mainMenu li ul li:hover{
	border-bottom: none;	
}
ul.mainMenu li ul li.last{
	/*padding: 5px 5px 15px 5px;*/	
}

ul.mainMenu li ul li a{
	font-family: 'Trebuchet MS';
}
/*************** END MENU STRUCTURES *************/

/************* CONTENT STRUCTURES *****************/
#leContent{
	margin: auto;
	position: relative;		
	width: 980px;	
	overflow: hidden;
	border-bottom: solid 1px #ccc;
	font-size: 13px;
}
div#sidebar{
	width: 200px;
	overflow: hidden;		
}

div#appContainer{
	position: relative;
	width: 770px;
	margin: 10px 0 20px 10px;		
}

.now {
	float:right;
	margin-right:20px;
}

div.userInfo{
	margin: 10px 0 5px 20px;
	border-bottom: solid 1px #ccc;	 	
}

div.userInfo a{
	color: #333;
	text-decoration: none;
}

div.userInfo a:hover{
	color: #333;
	text-decoration: underline;
}

/************* TABLE STRUCTURES ***************/
.resultTable tr{
	border: solid 1px #CCC; 		
}
.resultTable tr th.optionsPane,td.optionsPane{
	width: 170px !important;	
}
.resultTable tr td.optionsPane span{
	display: inline-block;
	width: 100px;		
}
.resultTable tr td.optionsPane div{
	display: none;
	text-align: right;
	/*background: #F0F0E1;*/	
	float: right;
	width: 70px;	
}
.resultTable tr td.optionsPane div a,a:hover{
	text-decoration: none;
	border: none;
}
.resultTable tr td.optionsPane div img{
	border: none;
}


.resultTable tr.strong{
	background: #D8D8D8;
}

.resultTable tr.light{
	background: #E6E6E6;
}
.resultTable td{
	padding: 3px;
	text-align: center;
}

.resultTable th{
	text-align: center;
	background: #333;
	color: #E6E6E6;
	font-weight: normal;
}

.comments {
	display: none;
}

/**************  HIDE STRUCTURES *****************/

.hideForm{
	position: relative;
	margin: auto;
	margin-bottom: 20px;
}

/********** SECCION USUARIOS ******************/
#contentUsers {
	text-align: left; 
	width: 760px; 
	margin: auto;	
}
#usersTable{
	width: 750px;	
}
/*********** FOOTER STRUCUTRES  ***************/
#footer{	
	margin: auto;
	width: 1000px;
	height: 30px;
	background: url('../img/roundFooter.png') left top no-repeat;
	font-size: 10px;
	text-align: center;
	clear: both;
	position: relative;
	overflow: hidden;
	line-height: 11px;	
}

#footer span{
	display: block;
	padding: 7px 0 0 0;
}

/********** PROSPECTACIÓN **************/
form#newUser table{
	border-collapse: collapse;
	padding: 0px;
	position: relative;
	margin: 10px 0 0 0;
}

form#newUser table td{
	padding: 5px 5px 5px 5px;
}

form#newUser table td label{
	display: inline !important;
}

/**********CONTENIDO FANCYBOX*************/
#fancy_close {
	float:right;
	font-size: 14px;
	border: solid 0px #000;
	color: #E6E6E6;
    font-weight: normal;
}

	#fancy_close a {
		color: #ccc;
	}
	
	#fancy_close a:hover {
		color: #000;
	}

#fancy_content {
	top:10px; 
	font-size: 13px;
	text-align: justify;
	color: #000;
    font-weight: normal;
}
