﻿*{
	margin: 0;
	padding: 0;
}

body{
	background: url('../img/bg08.jpg') center top;
	font-family: 'Trebuchet MS';
}

table{
	border: none;
	border-collapse: collapse;
	padding: 0px;
}

img{
	border: none;
}

h1,h2,h3,h4,h5,h6{
	margin: 0px;
	padding: 0px;
	position: relative;
}

.testBorder{
	border: solid 1px #000 !important;
}

.floatLeft{
	float: left;
}

.floatRight{
	float: right;
}

.floatNone{
	float: none;
}

.clearBoth{
	clear: both;
}

.toCenter{
	margin: auto;
}

.textAleft{
	text-align: left;
}

.textAright{
	text-align: right;
}

.textAcenter{
	text-align: center;
}

.vTop{
	vertical-align: top;
}

.vMiddle{
	vertical-align: middle;
}

.vBottom{
	vertical-align: bottom;
}

.absoluteTop{
	position: absolute;
	top:0px;
}

.absoluteBottom{
	position: absolute;
	bottom: 0px;
}

.displayNone{
	display: none;
}

.displayBlock{
	display: block;
}

.displayInlineBlock{
	display: inline-block;
}

.cursorPointer{
	cursor: pointer !important;
}

.defaultCursor{
	cursor: default !important;
}

.cursorText{
	cursor: text !important;
}

/*********** MAIN STRUCUTRES ***************/
#wrapper{
	margin: auto;
	width: 1000px;
	height: 600px;
	background: url('../img/bgContent.png') left top;
	overflow: hidden;
}

/*********** HEADER STRUCTURES ***************/
#header{
	overflow: hidden;
}

#header h1{
	margin: 60px 0px 0px 400px;
	color: #333;
	font-size: 28px;
}
.logo{
	float: left;
	width: 980px;
	height: 102px;
	background: url('../img/logo.png') left top no-repeat;
	margin: 10px 0 0 10px;
}

/*************** MENU STRUCTURES *****************/
#menuContainer{
	width: 850px;
	height:25px;
	position: relative;
	top: 10px;		
}

ul.mainMenu, ul.mainMenu ul{
	list-style-type: none;	
	margin: 0 0 0 20px;
	font-weight: bold;	
}

ul.mainMenu li{
	float: left;
	display: block;
	margin: 0 5px 0 0;
	padding: 5px 5px 5px 5px;
	position: relative;
	border-bottom: solid 2px #342661;
	width: 100px;
	text-align: center;	
}

ul.mainMenu li:hover{
	border-bottom: solid 2px #666;
}

ul.mainMenu a{
	font-size: 14px;
	color: #000;
	text-decoration: none;
	font-family: 'Trebuchet MS';	
}

ul.mainMenu a:hover{
	color: #666;	
}

ul.mainMenu li ul{
	position: absolute !important;
	z-index: 700;		
	left: -10px !important;
}

ul.mainMenu li ul li{
	padding: 10px 0 0 0;
	display: block !important;
	float: none !important;
	width: 100px !important;
	text-align: left;
	border-bottom: none;
	/*padding: 5px 5px 5px 5px;*/			
}

ul.mainMenu li ul li:hover{
	border-bottom: none;	
}
ul.mainMenu li ul li.last{
	/*padding: 5px 5px 15px 5px;*/	
}


ul.mainMenu li ul li a{
	font-family: 'Trebuchet MS';
}
/*************** END MENU STRUCTURES *************/

/************* CONTENT STRUCTURES *****************/
#leContent{
	width: 980px;	
	margin: 20px 10px 0 10px;
}

/*********** FOOTER STRUCUTRES  ***************/
#footer{	
	margin: auto;
	width: 1000px;
	height: 30px;
	background: url('../img/roundFooter.png') left top no-repeat;
	font-size: 10px;
	text-align: center;
	line-height: 11px;	
}

#footer span{
	display: block;
	padding: 7px 0 0 0;
}
