/*(c) Copyright 2012 raul zavaleta. All Rights Reserved.*/ 
.niceform label {font-size:12px; font-weight:bold; color:#666; display: inline-block; width: 120px; text-align: right; cursor: pointer !important; position: relative;}
.niceform legend {font-size:14px; font-weight:bold; color:#666; padding: 0 10px; margin: 0 10px; position: relative;}
.niceform label.opt {font-weight:normal; position: relative;}
.niceform dl {clear:both; position: relative;}
.niceform dt {float:left; text-align:right; width:120px; line-height:20px; margin:0 10px 10px 0; position: relative;}
.niceform dd {float:left; width:475px; line-height:20px; margin:0 0 10px 0; position: relative;}

/**********
* Caso hoja de vida
*****/
.hojadt {text-align:left; width:400px; margin:0 10px 10px 30px; border:solid 0px #000; position: relative;}
.hojalabel {font-size:11px; font-weight:bold; color:#666; display: inline-block; width: 400px; text-align: left; position: relative;}
.hojadd {float:left; width:80px; line-height:25px; margin:0 0 10px 0; position: relative;}
.divhojadd {position: relative;}
/*************/

select, input, textarea, button {resize:none;}

.niceform {
	position: relative;	
}

.niceform input[type="text"],input[type="password"]{
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#333333;
	font-family:'Trebuchet MS';
	font-size:12px;
	font-weight:lighter;
	padding:3px 3px 3px 3px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
	width: 166px;
	
}

.niceform input[type="button"],input[type="submit"],input[type="reset"] {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#333333;
	font-family:'Trebuchet MS';
	font-size:12px;
	font-weight:lighter;
	padding:3px 3px 3px 3px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
	min-width: 70px;	
}

.niceform input[type="button"]:hover,input[type="submit"]:hover{
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}

.niceform input[type="button"]:active,input[type="submit"]:active{
	position:relative;
	top:1px;
}

/*SELECTS*/
.niceform select{
	width: 166px;
}	

.multiple {
	height: 200px;
	border: solid 0px;
	font-family: 'Trebuchet MS';
	background-color: #E6E6E6;
}

/*.multiple label {
	font-weight: normal;
	color: #ccc;
	font-style: normal;
}*/

/*.niceform select{
	position:relative !important;
	z-index:10 !important;
	width:166px !important;
	height:26px !important;
	line-height:26px !important;
}



.niceform span.select{
	position:absolute !important;
	bottom:0 !important;
	float:left !important;
	left:0 !important;
	width:166px !important;
	height:26px !important;
	line-height:26px !important;
	text-indent:10px !important;
	background:url('../img/bg_select.gif') no-repeat 0 0 !important;
	cursor:default !important;
	z-index:1 !important;
	color: #333333;
}*/

/*RADIOS ANDS INPUTS*/
.niceform .label_radio {
	background: url('../img/radio-off.png') left top no-repeat;
	display: block !important;
	width: 21px;
	height: 21px; 
}

.niceform .label_check {
	background: url('../img/check-off.png') left top no-repeat;
	display: inline-block !important;
	width: 100%;
	text-align: left;
	height: 21px; 
	border: solid 0px #000;
}

.niceform label.c_on {
	background: url('../img/check-on.png') left top no-repeat;
	display: inline-block !important;
	width: 100%;
	text-align: left;
	height: 21px;
}

.niceform label.r_on {
	background: url('../img/radio-on.png') left top no-repeat;
	display: block !important;
	width: 21px;
	height: 21px;
}

.niceform .label_check input, .niceform .label_radio input {
	display: none; 
}


/*TEXTAREAS*/
.niceform textarea{
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-family:'Trebuchet MS';
	font-size:12px;
	font-weight:lighter;
	padding:3px 3px 3px 3px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
	width: 166px;
	height: 166px;
}
